/*--Base Style--*/
*{
    box-sizing:border-box;
}
h1
{
    font-size: 35px; 
    font-family: monospace;
    text-align: center;
    margin-bottom: 70px;
}
.container-lg, px-3, my-5, markdown-body{
    all:none;
}
   
h2{    
    width: 60%;
    float: right;
    margin: 0px;
    font-size:25px;
    border: 1px solid black;    
    position: relative;
    left: 10px;
    text-align: center;
}
    #h1{ 
        color:red;
        background-color: aqua;
    }
    #h2 {
        color: green;
        background-color: antiquewhite;
        
    }
    #h3{
        color: blueviolet;
        background-color: darkgray;
    }

/*-- For Desktops --*/
@media (min-width:992px) 
{
    #p1, #p2, #p3{
        float: left;
        font-size: 20px;
        font-family: cursive;
        border: 1px solid black;
        width: calc(33.33% - 14px);
        background-color: #DA58FF;
        margin :0px 7px;
        color: white;
        padding: 0px 10px; 

    }
   
}

/*<!-- For Tablets --*/

@media (min-width:768px) and (max-width:991px) {
   
    #p1,#p2{
        float: left;
        font-size: 20px;
        font-family: cursive;
        border: 1px solid black; 
        width: calc(50% - 14px);
        margin:0px 7px 14px 7px;
        background-color:  #DA58FF;
        color: white;
        padding: 0px 10px; 
       
    }
    #p3{
        clear: left;
        font-size: 20px;
        font-family: cursive;  
        border: 1px solid black; 
        width: calc(100%-14px);
        background-color:  #DA58FF;
        margin-left: 7px;
        margin-right: 7px;
        color: white;
        padding: 0px 10px; 
    }


}

/*<!-- For Mobiles-->*/

@media (max-width:767px) {
    #p1, #p3, #p2{
        float: left;
        font-size: 20px;
        font-family: cursive;  
        border: 1px solid black;
        background-color:  #DA58FF; 
        margin-bottom: 14px;   
        color: white;
        padding: 0px 10px; 

    }
}
